.container{
  margin: 5%;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: white;
}
.send{
  background-color: #22427C !important;
}
.ui.dimmer {
  display: none;
}
.ui.dimmer.active {
  display: flex !important;
}

