.infos {
  margin: 20px;
}

.button-group {
  text-align: right;
  margin-top: 10px;
}

.modifier {
  background-color: #22427C;
  color: white;
}

.modifier:hover {
  background-color: #22427C;
  color: white;
}

.annuler {
  background-color: #00CBCA;
  color: white;
}

.annuler:hover {
  background-color: #00CBCA;
  color: white;
}
