<nav class="navbar">
  <img src="assets/logo.png" alt="Logo" class="logo">
  <ul class="nav-links">
    <li><a routerLink="/documents">Documents</a></li>
    <li><a routerLink="/projets">Projets</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Personnes</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/stagiaire">Stagiaire</a></li>
        <li><a routerLink="/collaborateur">Collaborateur</a></li>
      </ul>
    </li>
  </ul>
  <div class="nav-icons">
    <i class="fas fa-bell icon-notifications"></i>
    <span class="icon-space"></span>
    <i class="fas fa-user icon-user"></i>
    <span class="icon-space"></span>
  </div>
  <div class="user-profile">
  </div>
</nav>
