
.button-group {
  text-align: right;
  margin-top: 10px;
}

.save:hover, .save  {
  background-color: #22427C;
  color: white;
}

.annuler, .annuler:hover  {
  background-color: #00CBCA;
  color: white;
}
.manage{
  margin: 5%;
}
